<template>
    <div id="base" v-if="hasHistory">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <h2>History</h2>
        <button v-on:click="this.$store.dispatch('clearHistory')">
            <i class="fa fa-trash-o" style="font-size: 24px"></i>
        </button>
        <div id="history">
            <ul>
                <!-- <li v-for="equ in history" :key="equ">{{ equ }}</li> -->
                <log-component
                    id="li"
                    v-for="equ in history"
                    :key="equ"
                    :equation="equ.calculation"
                    :answer="equ.answer"></log-component>
            </ul>
        </div>
    </div>
</template>

<script>
import LogComponent from './LogComp.vue'
export default {
    components: { LogComponent },
    computed: {
        history() {
            return this.$store.state.history
        },
        hasHistory() {
            return this.$store.state.history.length > 0
        }
    }
}
</script>

<style scoped>
#base {
    min-width: 300px;
    max-width: 350px;
    text-align: left;
    position: relative;
    transition: transform 2s;
}
h2 {
    margin: 0;
    display: inline-block;
}

button {
    border-radius: 7px;
    border: 0;
    float: right;
    background: transparent;
    transition: background 0.2s;
    transition: box-shadow 0.2s;
}
button:hover {
    background: #f1f1f1;
    transform: scale(103%);
    box-shadow: 1px 1px 1px 1px #d4d3d3;
}
button:active {
    background: #d4d3d3;
    transition: transform 0.01s;
    transform: scale(1);
}

#history {
    text-align: left;
    font-size: 18px;
    overflow-y: auto;
    max-height: 260px;
    margin-bottom: 25px;
    /* border-radius: 4px; */
    /* border-right: 1px solid; */
    border-top: 1px solid gray;
}

#li {
    margin-bottom: 7px;
    text-align: right;
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(218, 215, 215);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187);
}
</style>
