<template>
    <div>
        <form class="form" @submit.prevent="submit()">
            <h1>Login</h1>
            <input
                class="textIn"
                type="text"
                v-model="username"
                placeholder="Username" />
            <input
                class="textIn"
                type="password"
                v-model="password"
                placeholder="Password" />
            <button class="btn" type="submit">Login</button>
            <p>
                Not registered?
                <a @click="$emit('switch')" class="link">Sign up</a>
            </p>
        </form>
    </div>
</template>

<script>
export default {
    name: 'LoginForm',
    data() {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        submit() {
            this.$emit('login', {
                username: this.username,
                password: this.password
            })
        }
    }
}
</script>

<style scoped></style>
