<template>
    <div>
        <form class="form" @submit.prevent="submit()">
            <h1>Register</h1>
            <input
                class="textIn"
                type="text"
                v-model="username"
                placeholder="Username" />
            <input
                class="textIn"
                type="password"
                v-model="password"
                placeholder="Password" />
            <input
                class="textIn"
                type="password"
                v-model="passwordConfirm"
                placeholder="Confirm password" />
            <button class="btn" type="submit">Sign up</button>
            <p>
                Already have an account?
                <a @click="$emit('switch')" class="link">Log in</a>
            </p>
        </form>
    </div>
</template>

<script>
export default {
    name: 'RegistrationForm',
    data() {
        return {
            username: '',
            password: '',
            passwordConfirm: ''
        }
    },
    methods: {
        submit() {
            if (this.password === this.passwordConfirm)
                this.$emit('register', {
                    username: this.username,
                    password: this.password
                })
            else alert('Password fields are not the same')
            this.password = ''
            this.passwordConfirm = ''
        }
    }
}
</script>

<style scoped></style>
