<template>
    <div>
        <h1>Contact Form</h1>
        <form @submit.prevent="submit">
            <input-comp
                v-model="Name"
                label="Name"
                type="text"
                :error="errors.Name"></input-comp>
            <input-comp
                label="E-mail"
                type="email"
                :error="errors.Email"
                :modelValue="Email"
                @change="onChange"></input-comp>

            <text-area-comp
                v-model="Comment"
                label="Comment"
                type="text"
                :error="errors.Comment"></text-area-comp>

            {{ this.$store.state.flashMessage.msg }}
            <button type="submit" :disabled="!complete">Send</button>
        </form>
    </div>
</template>

<script>
import { useField, useForm } from 'vee-validate'
import { object, string } from 'yup'
import TextAreaComp from '@/components/TextAreaComp.vue'
import InputComp from '@/components/InputComp.vue'
export default {
    components: {
        TextAreaComp,
        InputComp
    },
    data() {
        return {}
    },
    computed: {
        complete() {
            return this.Name && this.Email && this.Comment
        },
        form() {
            return { Name: this.Name, Email: this.Email, Comment: this.Comment }
        }
    },
    methods: {
        submit() {
            console.log('Submitting... ')
            console.log(this.form)
            this.$store.dispatch('displayFlashMessage', {
                msg: 'Submitting...',
                color: 'yellow'
            })
            setTimeout(() => {
                this.$store.commit('SET_FORM', this.form)
                console.log('Submitted!')
                this.$store.dispatch('displayFlashMessage', {
                    msg: 'Submitted!',
                    color: 'green'
                })
                setTimeout(
                    () => this.$store.commit('RESET_FLASH_MESSAGE'),
                    2000
                )

                this.$router.push('/')
            }, 1000)
        }
    },

    created() {
        let form = this.$store.state.form
        if (form) {
            this.Name = form.Name
            this.Email = form.Email
        }
    },

    setup() {
        const validations = object({
            Name: string().required(),
            Email: string().email().required(),
            Comment: string().required()
        })

        const { errors, setFieldValue } = useForm({
            validationSchema: validations
        })

        const { value: Name } = useField('Name')
        const { value: Email } = useField('Email')
        const { value: Comment } = useField('Comment')

        const onChange = (event) => {
            setFieldValue('Email', event.target.value)
        }

        return {
            onChange,
            Name,
            Email,
            Comment,
            errors
        }
    }
}
</script>

<style>
form {
    margin: 0 auto 0 auto;
    width: max-content;
    text-align: right;
}

.field {
    margin-bottom: 10px;
    resize: unset;
    border-radius: 4px;
    width: 250px;
}

input,
textarea {
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.4);
    font-size: 15px;
}

textarea {
    height: 75px;
    font-size: 13px;
}

.input,
.label {
    display: block;
    margin: 0;
}

.label {
    font-size: 12px;
    color: gray;
    text-align: left;
}

.container {
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 14px;
}
</style>
