<template>
    <div class="home">
        <h3 v-if="username">Welcome, {{ username }}</h3>
        <!--        <h3>Love you, Kätzchen</h3>-->
        <img id="logo" alt="Vue logo" src="../assets/logo.png" />
        <h1>Calculator</h1>
        <div id="wrapper">
            <calculator class="calculator"></calculator>
            <log class="history"></log>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Calculator from '@/components/Calculator.vue'
import Log from '@/components/Log.vue'
import axios from 'axios'
import { SERVER } from '@/utils/config'

export default {
    name: 'Home',
    components: {
        Calculator,
        Log
    },
    computed: {
        username() {
            return this.$store.state.user.username
        }
    },
    created() {
        axios
            .get(SERVER + '/users/' + this.username + '/calculations', {
                headers: {
                    Authorization: 'Bearer ' + this.$store.state.token
                }
            })
            .then((res) => {
                this.$store.state.history = res.data
                console.log(res.data)
            })
    }
}
</script>

<style scoped>
/* temp */
#logo {
    max-height: 100px;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    #wrapper {
        width: min-content;
        margin: 0 auto 0 auto;
    }
    .calculator {
        padding-bottom: 25px;
    }
}
@media only screen and (min-width: 900px) {
    #wrapper {
        display: grid;
        grid-template-columns: 2fr min-content 2fr;
        grid-template-rows: 1fr;
        gap: 0;
        grid-template-areas: 'Space Calculator History';
    }
}

.calculator {
    grid-area: Calculator;
}

.history {
    width: fit-content;
    grid-area: History;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid lightgray;
}
</style>
