<template>
    <div>
        <LoginForm
            @login="login"
            v-if="isLogin"
            @switch="isLogin = false"></LoginForm>
        <RegistrationForm
            @register="register"
            v-else
            @switch="isLogin = true"></RegistrationForm>
    </div>
</template>

<script>
import LoginForm from '@/components/LoginForm'
import RegistrationForm from '@/components/RegistrationForm'
import axios from 'axios'
import { SERVER } from '@/utils/config'

export default {
    name: 'LoginView',
    components: { RegistrationForm, LoginForm },
    data() {
        return {
            isLogin: true
        }
    },
    methods: {
        login(user) {
            // contact server - get token
            console.log(JSON.stringify(user))

            axios
                .post(SERVER + '/login', user)
                .then((res) => {
                    console.log(res.data.accessToken)
                    this.$store.state.token = res.data.accessToken
                    this.$store.state.user = user
                    this.$router.push('/')
                })
                .catch((e) => {
                    console.log(e)
                })
        },
        register(user) {
            console.log(JSON.stringify(user))

            axios
                .post(SERVER + '/users', user)
                .then((res) => {
                    console.log(res.data)
                    this.login(user)
                })
                .catch((e) => {
                    console.log(e)
                })
        }
    },
    created() {
        if (this.$store.state.token && this.$store.state.user) {
            this.$router.push('/')
        }
    }
}
</script>

<style>
.form {
    background: #42b983;
    border-radius: 11px;
    margin: 6% auto;
    width: 380px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.textIn {
    border-radius: 4px;
    display: flex;
    margin: 10px;
    height: 40px;
    width: 100%;
}
.textIn:focus {
    outline: #2c3e50 1px;
    border: 0;
}
.btn {
    margin: 10px;
    height: 40px;
    width: 100%;
    /*border: hidden;*/
    border-radius: 20px;
    background: maroon;
    color: #d4d3d3;
    /*font-size: 16px;*/
}
.btn:hover {
    transition: background-color 0.2s, transform 0.5s;
    background: #b60202;
    transform: scale(102%);
}

.link {
    color: #d4d3d3;
}
</style>
